version: "3.8"

services: 
  mysql_server:
    image: mysql:8.0
    environment: 
      - MYSQL_DATABASE=chat
      - MYSQL_USER=chat
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=secret
    networks:
      - mysql-phpmyadmin
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports: 
      - 3000:3000
    volumes: 
      - .:/app
      - '/app/node_modules'
    depends_on: 
      - mysql_server
    networks:
      - mysql-phpmyadmin
    # phpmyadmin
  phpmyadmin:
    depends_on:
      - mysql_server
    image: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    environment:
      PMA_HOST: mysql_server
      MYSQL_ROOT_PASSWORD: secret
    networks:
      - mysql-phpmyadmin

networks:
  mysql-phpmyadmin:

volumes:
  db_data:

    